# {{ ansible_managed }}

{% if openvpn_use_pam_users %}
auth		required	pam_pwdfile.so pwdfile={{openvpn_etcdir}}/users
account		required	pam_permit.so
{% else %}
auth      include   system-remote-login
account   include   system-remote-login
{% endif %}
